/*Colours*/
:root {
	--fg-color: #d6e2ff;
	--bg-color: #000614;
	--accent: #0045f5;
}

/*Responsive layout*/
html {
	margin: 1em 1em;
}

@media (min-width:calc(720px + 2em)) {
	html {
		margin: 1em auto;
		max-width: 720px;
	}
}

/*Fonts*/
@font-face {
	font-family: SpaceGrotesk;
	font-weight: 500;
	src: url("/SpaceGrotesk.woff2") format("woff2");
}

@font-face {
	font-family: Inter;
	font-weight: 400;
	src: url("/Inter.woff2") format("woff2");
}

@font-face {
	font-family: Outfit;
	src: url(/Outfit-Regular.woff2) format("woff2");
}

/*Animations*/
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@-moz-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@-o-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@-ms-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

@keyframes line {
	from {
		stroke-dashoffset: 2000;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/*Apply to all*/
* {
	box-sizing: border-box;
	background: var(--bg-color);
	color: var(--fg-color);
}

.logo {
	fill: none;
	stroke: var(--fg-color);
	stroke-linecap: square;
	stroke-linejoin: round;
	stroke-width: 40px;
	padding: 1em 0;
}

.animated {
	stroke-dasharray: 1600;
	stroke-dashoffset: 0;
	animation: line 1s ease;
}

/*Body*/
body {
	animation: fade ease 2s;
	-moz-animation: fade ease 2s;
	-webkit-animation: fade ease 2s;
	-o-animation: fade ease 2s;
	-ms-animation: fade ease 2s;
}

/*Headers*/
h1, h2, h3, h4, h5, h6, summary {
	font-family: Outfit, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}

/*Body text*/
p, ul, ol, details {
	font-family: Outfit, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}

/*Lists*/
ul, ol {
	padding: 0 1.5em;
}

nav {
	padding-bottom: 0em;
}

/*Images*/
img {
	width: 100%; /*default width 100%*/
}

/*Remove underline/link styling from site header*/
.site-header a {
	text-decoration: none;
}

hr {
	height: 0;
	border: 0;
	border-top: 1px solid var(--fg-color);
}