:root {
	--fg-color: #d6e2ff;
	--bg-color: #000614;
	--accent: #0045f5;
	--pad: 2.5em;
}

@font-face{
	font-family: SpaceGrotesk;
	font-weight: 500;
	src: url("/SpaceGrotesk.woff2") format("woff2");
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100
	}
}

* {
	box-sizing: border-box;
	background: var(--bg-color);
	color: var(--fg-color);
}

body {
	padding: var(--pad);
}

h1, h2, h3, h4, h5, h6 {
	font-family: SpaceGrotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;
	animation: fadeIn ease 1s;
}

p, img {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	animation: fadeIn ease 2s;
}

nav {
	padding-bottom: var(--pad);
}

.site-header a {
	text-decoration: none;
}

.nav-links {
	line-height: 0.3;
}

.rounded {
	border-radius: 50%;
}